/*---GENERAL---*/

body{
    margin: 0;
}
span, input, h1, h2{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
span, input{
    font-size: 18px;
    padding: 5px 10px;
}

/*---INPUT/REGISTER PAGE---*/

.loginTitle {
    text-align: center;
}
.loginToggle, .myTreeToggle{
    width: 100%;
    display: flex;
}
.loginSiteBtn {
    width: 50%;
    background-color: #fff;
    border: 2px solid #2d6a4f;
    cursor: pointer;
}
.loginActive {
    background-color: #2d6a4f;
    color: #fff;
}

.loginWrapper {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 50px auto 0;
    box-shadow: 0px -1px 16px rgba(0, 0, 0, .16);
    padding: 20px 50px 50px;
    border-radius: 12px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
    .inputWrapper input {
        border: none;
        outline: none;
        border-radius: 8px;
        border-bottom: 2px solid #bbb;
        box-shadow: 0px -1px 16px rgba(0, 0, 0, .16);
        line-height: 27px;
    }
        .inputWrapper input:focus, .inputWrapper input:hover {
            border-bottom: 2px solid #2d6a4f;
        }

        .button {
            background-color: #2d6a4f;
            color: #fff;
            border-radius: 8px;
            line-height: 27px;
            cursor: pointer;
        }
#btnLogin, #btnReg {
    margin-top: 25px;
}


/*---MANAGE TREE PAGE---*/
.manageWrapper {
    max-width: 650px;
    margin: 50px auto 0;
    padding: 30px 50px 50px;
    border-radius: 8px;
    border-bottom: 2px solid #bbb;
    box-shadow: 0px -1px 16px rgba(45,106,79, .26);
}

.buttonWrapper{
    display:flex;
    justify-content:center;
    margin-top: 25px;
}


/*---VERWALTUNG PAGE---*/
.settingContainer{
    max-width: 100vw;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2.5%;
}
.myTreeToggle{
    width: 70%;
}
.profilInfoWrapper{
    width: 25%;
    border: 2px solid darkred;
    padding: 0px;
    margin: 0px;
}
    .profilInfoWrapper h2 {
        background-color: darkred;
        margin: 0px;
        padding: 4px 8px;
        color: #fff;
    }
    .profileRow{
        padding: 5px 0;
    }